<header class="d-flex flex-wrap justify-content-center border-bottom p-2 bg-info">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none p-2 text-white">
    <span class="fs-4 fw-bold fst-italic">Hokuriku-shien-Travelers-map</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="btn btn-primary rounded px-3" style="margin-right: 10px;">ログイン</a></li>
    <li class="nav-item"><a href="#" class="btn btn-primary rounded px-3">会員登録</a></li>
  </ul>
</header>