<header class="d-flex flex-wrap justify-content-center border-bottom p-2 bg-info">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none p-2 text-white">
    <span class="fs-4 fw-bold fst-italic">Hokuriku-shien-Travelers-map</span>
  </a>

  <ul class="nav nav-pills">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-primary rounded px-3 me-2", data: { turbo_method: :delete } %>
      </li>
      <li class="nav-item">
        <%= link_to "プロフィール", edit_user_registration_path, class: "btn btn-primary rounded px-3" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "会員登録", new_user_registration_path, class: "btn btn-primary rounded px-3 me-2" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary rounded px-3" %>
      </li>
    <% end %>
  </ul>
</header>