<head>
  <%= stylesheet_link_tag "about" %>
</head>
<body>
  <div class="container my-5">
    <header class="text-center">
      <h1 class="page-title mb-4">北陸支援トラベラーズMapについて</h1>
    </header>
    <section class="service-overview mb-5">
      <h2>サービス概要</h2>
      <p>「北陸支援トラベラーズMap」は、観光を通じて北陸を支援したい人と、北陸の観光業に携わる人たちの架け橋になるマップ検索サービスです。</p>
    </section>
    <section class="service-purpose mb-5">
      <h2>このサービスへの思い</h2>
      <p>令和6年1月に起きた能登半島地震の発生は、北陸地方の観光業に大きな影響を与えました。</p>
      <p>このサービスは、「観光を通じて北陸を支援したい」という思いから開発したサービスです。</p>
      <p>このサービスを通じて、「北陸地方には多くの魅力的な観光スポットがある」という事を視覚的に知ってもらい、北陸地方への旅行を促進するための一助となれば幸いです。</p>
    </section>
    <section class="service-purpose mb-5">
      <h2>使用ガイド(β版)</h2>
      <h3>マップの使い方</h3>
      <p>このサービスの主の機能であるマップ機能の簡単な使い方についてご説明します。</p>
      <p>まず、マップには「検索バー」「観光地のカテゴリ別表示」「トラフィック情報」「トランジット情報」「観光地情報」などの機能があります。</p>
      <p>「検索バー」からは、自分の知りたい場所を検索する事ができ、検索した地点のピンを選択すると、
         その場所の詳細な情報(名前、住所、電話番号、ウェブサイト、営業時間、写真、レビュー)を知る事ができます。</p>
      <p>「観光地のカテゴリ別表示」は、「全て(マップに表示する観光地のカテゴリを選択)」と表示されているドロップダウンメニューで、
         16種類の観光地カテゴリから興味のあるカテゴリを選択する事でそのカテゴリに属する観光地のピンのみをマップ上に表示させる事ができ、
         自分の興味のあるカテゴリの観光地がどこにどれくらいあるのかを分かりやすく知る事ができます。</p>
      <p>「観光地情報」では、マップ上に常時表示されている北陸地方の観光地の地点データの表示・非表示を切り替える事ができます。
         この観光地データは千件以上の北陸地方の観光地の場所が収録されており、マップを拡大していくと、観光地のピンの集積度によってピンのアイコンが赤色→黄色→青色と切り替わっていき、
         詳細な範囲になるまでマップを拡大すると、その地域周辺の観光地のピンが個別に表示され、ピンを選択する事でその観光地の名前と施設の種類の情報が知る事ができます。
         選択した場所のより詳細な情報を知りたい場合、一旦「観光地情報」を非表示に切り替え、その場所の名前を検索バーで検索する事でより詳細な情報を知る事ができます。</p>
      <p>「トラフィック情報」では、現在の交通情報の表示・非表示を切り替える事ができ、現在の交通情報を知る事ができます。
         交通情報の見方としては、緑色が交通が混雑していない事を示しており、色が赤色に近くなる程混雑が発生している事を示します。
         また、通行止めの場所は、赤色の破線で通行止めのマークが表示されます。</p>
      <p>「トランジット情報」では、交通機関についての詳細情報の表示・非表示を切り替える事ができます。
         北陸地方周辺の場合、道路の番号区分の情報が表示され、気になる観光地周辺に通っている道路などの詳細情報を知る事ができます。</p>
      <p>その他、標準の地図と航空写真の切り替え、航空写真の「ラベル」ボタンで航空写真で表示された地図への「トラフィック情報」「トランジット情報」「観光地情報」の表示の機能があります。</p>
      <h3>会員登録・ログイン機能について</h3>
      <p>このアプリは、本リリース時の機能として、レビュー機能とそれに付随する機能の搭載を予定しています。</p>
      <p>レビュー機能により、実際に現地で体感した北陸観光の楽しさをより多くの方に知っていただけるようになると考えています。</p>
      <p>この機能を使用するには、会員登録が必要なため、会員登録・ログイン機能については先行で実装しています。
         会員として登録できる情報は、「メールアドレス」「ユーザー名」「プロフィール」「パスワード」となっています。</p>
    </section>
  </div>
</body>