body {
  background-color: #a0cfff;
  color: #212529;
}

.container {
  max-width: 960px;
  margin: auto;
}

.page-title {
  font-family: sans-serif;
  font-weight: bold;
}

h2 {
  font-family: sans-serif;
  font-weight: bold;
}

h3 {
  font-family: sans-serif;
  font-weight: bold;
}

p {
  line-height: 1.6;
  font-weight: bold;
}