<head>
  <script>
    document.addEventListener("turbo:load", function() {
      if (!window.google || !window.MarkerClusterer) {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js";
        script.onload = loadGoogleMaps;
        document.head.appendChild(script);
      } else {
        initMap();
      }
    });

    function loadGoogleMaps() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyANC15Na85B6UwwYHXVP9NturgBAe0BpyQ&libraries=places&language=ja&callback=initMap";
      document.head.appendChild(script);
    }
  </script>
</head>

<body>
  <div id="search-container">
    <input id="pac-input" class="controls" type="text" placeholder="検索...">
  </div>
  <div id="map"></div>

  <script>
    var markersByCategory = {};
    var markerCluster;
    var isVisible = true;

    function initMap() {
      var MyLatLng = new google.maps.LatLng(36.5748441, 136.6483217); // 北陸地方の中心点
      var Options = {
        zoom: 10,
        center: MyLatLng,
        streetViewControl: false,
        fullscreenControl: false,
        mapTypeId: "roadmap"
      };
      var map = new google.maps.Map(document.getElementById("map"), Options);
      map.markers = [];

      // TrafficLayer の追加
      var trafficLayer = new google.maps.TrafficLayer();
      trafficLayer.setMap(map);

      // TransitLayer の追加
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      // トラフィックレイヤーのトグル機能
      document.getElementById("toggle-traffic").addEventListener("click", function() {
        if (trafficLayer.getMap()) {
          trafficLayer.setMap(null);
          this.classList.remove("btn-success");
          this.classList.add("btn-secondary");
        } else {
          trafficLayer.setMap(map);
          this.classList.remove("btn-secondary");
          this.classList.add("btn-success");
        }
      });

      // トランジットレイヤーのトグル機能
      document.getElementById("toggle-transit").addEventListener("click", function() {
        if (transitLayer.getMap()) {
          transitLayer.setMap(null);
          this.classList.remove("btn-secondary");
          this.classList.add("btn-success");
        } else {
          transitLayer.setMap(map);
          this.classList.remove("btn-success");
          this.classList.add("btn-secondary");
        }
      });

      var input = document.getElementById("pac-input");
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
      var autocomplete = new google.maps.places.Autocomplete(input, {componentRestrictions: {country: "jp"}});
      autocomplete.bindTo("bounds", map);

      var infowindow = new google.maps.InfoWindow();
      autocomplete.addListener("place_changed", function() {
        infowindow.close();
        var place = autocomplete.getPlace();
        if (!place.geometry) return;

        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
          map.setZoom(17);
        }

        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        var content = '<div><strong>' + place.name + '</strong><br>' +
                      'Address: ' + place.formatted_address + '<br>' +
                      'Phone: ' + (place.formatted_phone_number || 'N/A') + '<br>' +
                      'Website: ' + (place.website ? '<a href="' + place.website + '">' + place.website + '</a>' : 'N/A') + '<br>' +
                      'Hours: ' + (place.opening_hours ? place.opening_hours.weekday_text.join(', ') : 'N/A') + '<br>' +
                      '<img src="' + (place.photos && place.photos.length ? place.photos[0].getUrl() : '') + '" alt="Place image" style="width:100px;"><br>' +
                      'Reviews: ' + (place.reviews && place.reviews.length ? place.reviews[0].text : 'N/A') + '</div>';
        infowindow.setContent(content);
        infowindow.open(map, marker);
      });

      var markerCluster = new MarkerClusterer(map, [], {
        imagePath: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
      });

      fetch("/tourist_spots")
        .then(response => response.json())
        .then(data => {
          data.forEach(spot => {
            var marker = new google.maps.Marker({
            position: new google.maps.LatLng(spot.latitude, spot.longitude),
            title: spot.name,
            map: map
            });

            var infowindow = new google.maps.InfoWindow({
              content: '<div><strong>' + spot.name + '</strong><br>' +
                       '住所: ' + spot.address + '</strong><br>' +
                       'カテゴリ: ' + spot.category + '</div>'
            });

            marker.addListener("click", function() {
              infowindow.open(map, marker);
            });

            markersByCategory[spot.category] = markersByCategory[spot.category] || [];
            markersByCategory[spot.category].push(marker);
          });
          updateMarkers("All");
        });

      window.updateMarkers = function(category) {
        markerCluster.clearMarkers();
        if (category === "All" || category === "全て(マップに表示する観光地のカテゴリを選択)" && isVisible) {
          Object.values(markersByCategory).flat().forEach(marker => markerCluster.addMarker(marker, false));
        } else if (isVisible) {
          markersByCategory[category].forEach(marker => markerCluster.addMarker(marker, false));
        }
      };

      document.getElementById("toggle-tourist-spots").addEventListener("click", function() {
        isVisible = !isVisible;
        markerCluster.clearMarkers();
        if (isVisible) {
          updateMarkers(document.getElementById("category-selector").value);
        }
        this.classList.toggle("btn-success", isVisible);
        this.classList.toggle("btn-secondary", !isVisible);
      });
    }
    window.updateMarkers = updateMarkers;
  </script>
</body>
